db/data
db/log

vueproject/node_modules
vueproject/n_modules
flaskproject/__pycache__
flaskproject/model/__pycache__
flaskproject/develop/__pycache__

.DS_Store



# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?